body, html {
    height: 100%;
    margin: 0;
}

.bgimg {
    background-image: url('../img/background.jpg');
    opacity: 0.8;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

@media only screen and (max-device-width: 480px) {
    .bgimg {
        background-image: url('../img/background_mobile.jpg');
        opacity: 0.8;
        height: 100%;
        background-position: center;
        background-size: cover;
        position: relative;
    }
}

.filter {
    -webkit-filter: contrast(140%) sepia(50%);
    filter: contrast(140%) sepia(50%);
}

.filter::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: multiply;
    background: rgba(161, 44, 199, 0.31);
}

.countdown {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 4em;
    color: #E5E5E5;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    line-height: 1.3;
    padding: 5px 10px 5px 10px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 100;
}

.timevalue {
    font-weight: 700;
    color: rgb(236, 240, 159);
}

footer {
    position: absolute;
    bottom: 0;
    right: 2%;
    text-align: center;
    font-size: 1em;
    color: #E5E5E5;
    font-family: "Courier New", Courier, monospace;
    font-weight: 300;
    margin-bottom: 2%;
}

footer > a {
    color: #E5DF1C;
}
